<div class="container">
  <div
    class="offcanvas offcanvas-start show text-bg-dark"
    tabindex="-1"
    id="offcanvasDark"
    aria-labelledby="offcanvasDarkLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasDarkLabel">
        <a href="">
          <p>Offcanvas</p>
        </a>
      </h5>
      <button
        type="button"
        class="btn-close btn-close-white"
        data-bs-dismiss="offcanvasDark"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <a href="">
        <li>
          <p>Place offcanvas content here.</p>
        </li>
      </a>
    </div>
  </div>
</div>
